@model IEnumerable<Employee_Management.Models.Department_table>

<h2> Department</h2>

<div class="d-flex justify-content-end mb-3">
	<a asp-action="Create" class="btn btn-primary">
		Add Department
	</a>
</div>
<table class=" table table-bordered table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Department</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		@{
			int count = 1;
		}
		@foreach(var emp in Model)
		{
			<tr>
				<td>@count</td>
				<td>@emp.Department</td>
				<td>@emp.Description</td>
				
				<td>
				
					<a asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-sm btn-warning">Edit</a>
					<a asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>
			count++;
		}
		</tbody>

	</table>
